[project]
	description = html5 placeholder polyfill
[access "refs/*"]
	owner = group user/Oliver Ganz (oliverganz)
[access "refs/for/refs/*"]
	read = group user/Oliver Ganz (oliverganz)
	push = group user/Oliver Ganz (oliverganz)
	label-Code-Review = -2..+2 group user/Oliver Ganz (oliverganz)
	label-Verified = -1..+1 group user/Oliver Ganz (oliverganz)
	rebase = group user/Oliver Ganz (oliverganz)
	removeReviewer = group user/Oliver Ganz (oliverganz)
	submit = group user/Oliver Ganz (oliverganz)
[access "refs/heads/*"]
	read = group user/Oliver Ganz (oliverganz)
	create = group user/Oliver Ganz (oliverganz)
	push = +force group user/Oliver Ganz (oliverganz)
	pushMerge = group user/Oliver Ganz (oliverganz)
[access "refs/tags/*"]
	push = +force group user/Oliver Ganz (oliverganz)
	pushTag = group user/Oliver Ganz (oliverganz)
	pushSignedTag = group user/Oliver Ganz (oliverganz)
